// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// *****************************************************************************
// Sidebar
// *****************************************************************************
@import "variables";

aside#page-sidebar {
	display: inline-block;
	float: right;
	height: -webkit-calc(100% - 10px);
	height: calc(100% - 10px);
	padding-left: 20px;
	margin-top: 30px;
	overflow-y: auto;
	width: 25%;

	ol#social-media-links {
		$icon-size : 48px;
		clear: both;
		height: $icon-size;
		margin: 0 20px 20px 0 ;
		padding: 0; 
		li {
			float: right;
			display: inline-block;
			margin: 0 0 0 10px;
			padding: 0;
			&:last-child {
				margin-left: 0;
			}
			a {
				background-color: transparent;
				border: 0;
				color: transparent;
				overflow: hidden;
				/* IE 6/7 fallback */
				*text-indent: -9999px;
				&:before {
					content: "";
					display: block;
					width: 0;
					height: 150%;
				}
        
				background-position: center center;
				background-repeat: no-repeat;
				background-size: $icon-size $icon-size;
				display: block;
				height: $icon-size;
				width: $icon-size;
			} // a

			$serviceList: rss, twitter, github;

			@each $service in $serviceList {
				&.#{$service} a {
					background-image: url("#{$image-path}/icons/#{$service}.svg");
				}
				&:hover {
					&.#{$service} a {
						background-image: url("#{$image-path}/icons/#{$service}-hover.svg");
					}
				}
			} // @each ....

		} // li
	} // ol#social-media-links

	
}